.grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: 2px solid #cacaca;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ececec;
    box-shadow: 0 0 2px #cacaca;
}